@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(31, 28, 192);
}
*{
    box-sizing: border-box;
    outline: 0;
    
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}


.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 3px 25px 1px black;

     

}

form input, form label, form button{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}
form button{
    padding: 20px;
    background-color: rgb(17, 109, 151);
    border: none;
    border-radius: 5px;
    color: #fff;

    font-size: 18px;
    font-weight: 700;

    cursor: pointer;
    transition: 300ms;

    margin-top: 20px;
}
form button:hover{
    color: black;
    background-color: rgb(32, 192, 131);
}
.timer{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}
.timer h1 {
    font-size: 3em;
}
.relogio {
    font-size: 3em;
}
button{
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 100px;
    padding: 5px;
    transition: 200ms;
}

button:hover{
    background-color: var(--primary-color);
    
}